@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
body {
    background: linear-gradient(180deg,yellow 0%, black 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

h1 {
    margin-top: 5%;
    font-size: 70px;

}

#button {
    width: 168px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: yellow;
    background-color: green;
}

#button:hover {
    cursor: pointer;
    box-shadow: 0px 10px 10px rgb(151, 151, 228);
}

#jokecontent, #joke{
    font-size: 40px;
    line-height: 38px;
}

#jokecontent,img{
    margin-bottom: 10px;
    height: 800px;
    width: 600px;
}